body{
    background: #fff;
}

nav{
    margin-bottom: 15px;
}

.card{
    margin-bottom: 10px;
    margin-left: 5px;
}

.card-img{
    height: 20rem;
    width: 30rem;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.card-img-top, .card-author, .card-date{
    margin-bottom: 10px;
}

.center{
    text-align: center;
}


.card-btn a{
    margin-right: 10px;
}

