body{
    background: #fff;
}

nav{
    margin-bottom: 15px;
}

.card{
    margin-bottom: 10px;
    margin-left: 5px;
}

.card-img{
    height: 200px;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 30rem;
}
.card-img,card-author{
    margin-bottom: 10px;
}

.center{
    text-align: center;
}
